# Ejercicios: Tipos de datos

En este notebook realizarás ejercicios para dominar los tipos de datos.

:::{exercise}
:label: ejercicio-1
:class: ejercicio-practico

**Objetivo** Crear variables de diferentes tipos y mostrarlas.

**Ejemplo de referencia**:
```
# Variables básicas
edad = 30
altura = 1.75
nombre = "Ana"
es_estudiante = True
print(edad, altura, nombre, es_estudiante)
```

**Instrucciones**:
1. Crea una variable entera llamada `numero_entero` y asígnale el valor 10.
2. Crea una variable decimal llamada `numero_decimal` con el valor 5.6.
3. Crea una variable de texto llamada `mi_nombre` con tu nombre.
4. Crea una variable booleana llamada `es_mayor_de_edad` con valor `True` o `False`.
5. Usa `print()` para mostrar todas las variables.

**Respuesta**:

In [1]:
# Tu código aquí

:::{exercise}
:label: ejercicio-2
:class: ejercicio-practico
**Objetivo**: Identificar tipos con `type()`.

**Ejemplo de referencia**:
```python
x = 5
print(type(x))  # <class 'int'>
```

**Instrucciones**:
1. Declara varias variables con distintos valores (`a=10`, `b=3.14`, `c='hola'`, `d=True`).
2. Usa `type()` para mostrar el tipo de cada variable.

**Respuesta**:

In [2]:
# Tu código aquí

:::{exercise}
:label: ejercicio-3
:class: ejercicio-practico
**Objetivo**: Practicar operaciones de incremento y decremento.

**Ejemplo de referencia**:
```python
contador = 0
contador += 1
print(contador)  # 1
contador -= 1
print(contador)  # 0
```

**Instrucciones**:
1. Declara una variable `num` con valor 5.
2. Incrementa en 3 su valor.
3. Disminuye en 2 su valor.
4. Muestra el valor final con `print()`.

In [3]:
# Tu código aquí

:::{exercise}
:label: ejercicio-4
:class: ejercicio-practico
**Objetivo**: Concatenar cadenas de texto.

**Ejemplo de referencia**:
```python
saludo = "Hola"
nombre = "Juan"
mensaje = saludo + ", " + nombre + "!"
print(mensaje)  # Hola, Juan!
```

**Instrucciones**:
1. Declara las variables `saludo` y `nombre` con textos de tu elección.
2. Crea una variable `mensaje_final` que combine ambas con espacios y signos de exclamación.
3. Muestra el mensaje final con `print()`.

In [4]:
# Tu código aquí

:::{exercise}
:label: ejercicio-5
:class: ejercicio-practico
**Objetivo**: Conversiones de tipos.

**Ejemplo de referencia**:
```python
n_float = 4.7
n_int = int(n_float)
print(n_int)  # 4
print(type(n_int))  # <class 'int'>
``` 

**Instrucciones**
1. Declara una variable float `peso` con valor 72.5.
2. Convierte `peso` a entero y guárdalo en `peso_entero`.
3. Muestra el valor y el tipo de `peso_entero`.

In [5]:
# Tu código aquí

:::{exercise}
:label: ejercicio-6
:class: ejercicio-practico
**Objetivo**: Uso de booleanos y conversiones.

**Ejemplo de referencia**:
```python
valor = True
valor_str = str(valor)
print(valor_str)  # 'True'
print(type(valor_str))  # <class 'str'>
``` 

**Instrucciones**:
1. Declara una variable `es_estudiante` con valor `False`.
2. Convierte `es_estudiante` a cadena y guárdalo en `estado_str`.
3. Muestra `estado_str` y su tipo.

In [6]:
# Tu código aquí

:::{exercise}
:label: ejercicio-7
:class: ejercicio-practico
**Objetivo**: Detectar errores comunes.

**Ejemplo de error habitual**:
```python
edad = '25'
print(edad + 5)  # Error: no se puede sumar int y str.
```

**Instrucciones**:
1. Declara una variable `edad_str` con valor `'30'` (texto).
2. Convierte a entero en `edad_int`.
3. Sumale 10 y muestra el resultado.
4. Añade un comentario que indique qué error ocurriría si no convertirás el tipo.

In [7]:
# Tu código aquí

:::{exercise}
:label: ejercicio-8
:class: ejercicio-practico

**Objetivo**: Integrar diferentes tipos de datos en una sola cadena de texto.

**Instrucciones:**

Declara las variables: `producto` (tipo texto), `cantidad` (tipo entero) y `precio_unitario` (tipo decimal). Aígnales valores apropiados (por ejemplo, `producto = "manzanas"`)

Crea una variable llamada `total` que sea la multiplicación de la cantidad por el precio.

Muestra un mensaje que diga: "Has comprado [cantidad] unidades de [producto] por un total de $[total]".

In [8]:
# Tu código aquí